:root {
    --main-color: orangered ; 
    --main-color-aqua : aqua ; 
    --main-color-blue : blue ; 
    --main-color-chocolate : chocolate ; 
    --main-color-blueviolet : blueviolet ; 
    --main-color-white : white ; 
}
